<li class='gallery__item'>
  <a href='#'>
    <img class='item__image' src={{posterUrl}} alt='film poster' />
  </a>
  <h2 class='item__title'>{{movieName}}</h2>
  <span class='item__category'>
    {{#each genres}}
      {{this}}
    {{/each}}
    |
    {{year}}
  </span>
</li>