<section class="container">
  <ul class="gallery">
    <li class="gallery__item">
      <a href="#">
        <picture class="item__image">
          <source srcset="./images/rectangleTabl.jpg" media="(min-width:1280px)" />
          <source srcset="./images/rectangleTabl.jpg" media="(min-width:768px)" />
          <source srcset="./images/rectangleMob.jpg" media="(max-width:767px)" />
          <img
            class="speakers__image"
            src="./images/rectangleDesc.jpg"
            alt="film poster"
            width="394"
          />
        </picture>
      </a>
      <h2 class="item__title">Title</h2>
      <span class="item__category"> Category | Year </span>
    </li>
    <li class="gallery__item">
      <a href="#">
        <picture class="item__image">
          <source srcset="./images/rectangleDesc.jpg" media="(min-width:1280px)" />
          <source srcset="./images/rectangleTabl.jpg" media="(min-width:768px)" />
          <source srcset="./images/rectangleMob.jpg" media="(max-width:767px)" />
          <img class="speakers__image" src="./images/rectangleDesc.jpg" alt="film poster" />
        </picture>
      </a>
      <h2 class="item__title">Title</h2>
      <span class="item__category"> Category | Year </span>
    </li>
    <li class="gallery__item">
      <a href="#">
        <picture class="item__image">
          <source srcset="./images/rectangleDesc.jpg" media="(min-width:1280px)" />
          <source srcset="./images/rectangleTabl.jpg" media="(min-width:768px)" />
          <source srcset="./images/rectangleMob.jpg" media="(max-width:767px)" />
          <img class="speakers__image" src="./images/rectangleDesc.jpg" alt="film poster" />
        </picture>
      </a>
      <h2 class="item__title">Title</h2>
      <span class="item__category"> Category | Year </span>
    </li>
  </ul>
<div class="pagination-cover">
    <ul class="pagination">
        <!-- <li class="arrows position btn-prev">
            <svg width="40" height="40">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
        </li>
        <li class="numb position"><button class="formatting">1</button></li>
        <li class="numb position"><button class="formatting">2</button></li>
        <li class="numb position"><button class="formatting">...</button></li>
        <li class="dots position"><button class="formatting">4</button></li>
        <li class="numb position"><button class="formatting">5</button></li>
        <li class="numb position"><button class="formatting">6</button></li>
        <li class="dots position"><button class="formatting">...</button></li>
        <li class="numb position"><button class="formatting">8</button></li>
        <li class="numb position"><button class="formatting">9</button></li>
        <li>
          <div class="arrows position btn-next">
            <svg width="40" height="40">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg> -->
          </div>
        </li>
      </ul>
</div>
</section>
